# Dependencies
node_modules/
dist/
.DS_Store

# Environment Variables
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.antigravity/
.gemini/
backend/mongodb_data/
*.lock
